<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="alert alert-light">You: <%= @question %></p>
  <p class="alert alert-warning">Coach: <strong><%= @answer %></strong></p>
  <%= link_to "Ask a new question", ask_path %>
</div>
