<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Talk to the stupid coach!</p>
  <form action="/answer" method="get" class="my-3">
    <div class="form-group">
      <input type="text" name="question" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary my-2">
  </form>
</div>
